//全局border颜色；
$Bd_COLOR: #d9d9d9;
$THEME_COLOR: #f7b61e;
//伪元素实现1像素边框；
/*
*
*/
@mixin brdCom($pst, $bdrColor, $leftDis: 0) {
  content: ' ';
  position: absolute;
  width: 100%;
  left: $leftDis;
  #{$pst}: 0;
  border-top: 1px solid $bdrColor;
  color: $bdrColor;
  transform: scaleY(.5);
}